<h1>Por la vida</h1>
<p>Canciones de amor</p>

<table id="posts">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th> 
    </tr>
  </thead>
  <tbody>
   
  </tbody>
</table>


<div id="post-content"></div>
